---
---

@import "{{ site.theme }}";

a#forkme_banner {
    display: none
}

footer p {
    color: transparent
}

footer a {
    display: none
}

footer span.ribbon-inner p {
    color: transparent
}

footer span.octocat{
    display: none
}